#col-team {
    background: wheat;
}
#col-content {
    background: lightblue;
}
#col-bet {
    background: wheat;
}
.sports-content .col-content {
    height: 725px;
    padding: 15px;
}
.sports-content .col-content th {
    background: #ffffff;
}
div#tblTeam_length {
    display: none !important;
}
.btnTeam, .btnTeam2  {
    cursor: pointer;
}
#tblTeam .btnTeam:hover,
#tblTeam .btnTeam2:hover{
    background-color:#00724b ;
    color:#ffffff;
    text-shadow: 1px 2px #000000;
    box-shadow: 0px 0px 10px #ff0000;
    -webkit-box-shadow: 0px 0px 10px #ff0000;
    -moz-box-shadow: 0px 0px 10px #ff0000;
}
#tblTeam {
    font-size: 11px;
    width: 100% !important;
}
#tblTeam th {
    text-align: center;
    padding:5px 0;
}
.chk-form, .chk-p {
    display: inline;
}

.column-body {
    /*background: rgba(255,255,255,0.6);*/
    /*padding: 10px 25px;*/
    /*border-radius: 20px;*/
    height: 285px;
    max-height: 285px;
    overflow: auto;
}
.column-footer {
    background: rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
    text-align: center;
    position: absolute;
    bottom: 5px;
}
#divSched {
    position: relative;
    height:350px;
}
hr {
    margin: 5px 0;
    border-top: 4px solid #ffffff;
}
.form-group {
    /*margin-bottom: 15px;*/
    /*background: lightblue;*/
    /*padding: 5px 16px;*/
    /*border-radius: 10px;*/
    /*font-size: 16px;*/
}
h1#teamID {
    text-align: center;
    margin-bottom: 20px;
}
div#tblTeam_info {
    width: 200px;
    font-size: 13px;
}
div#tblTeam_paginate {
    font-size: 13px;
}
input[type="search"] {
    width: 142px;
}
div#opt-filter {
    position: absolute;
    top: 10px;
    z-index:10;
}
div#radio-sports {
    background: rgba(255,255,255,0.6);
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
}
#radio-sports h5 {
    margin: 0;
    padding: 0;
}
.TEAMN, .LINE, .TEAM_ODDS, .OVER_ODDS {
    margin-left: 5px;
    DISPLAY: INLINE;
}
/*.OPPONENT, .VS_LINE, .VS_ODDS, .UNDER_ODDS {*/
    /*margin-left: 5px;*/
    /*DISPLAY: INLINE;*/
/*}*/
.thumbnails {
    font-size: 14px;
    background: rgba(255,255,255,0.6);
    padding: 1px 0px;
    /*border-radius: 20px;*/
    /*margin-bottom: 5px;*/
    position: relative;
}
.thumbnails h5 {
    text-align: center;
    margin-bottom: 5px;
}
.remove-thumbnail {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: red;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    position: absolute;
    right: 5px;
    top: 0px;
}
#btnStraight, #btnParlay {
    margin-right: 27px;
}

.thumbnails table tr td {
    padding: 0 0 0px 10px;
    vertical-align: middle;
}
input[type="checkbox"], input[type=radio] {
    margin-top: 4px;
    margin-left: -17px !important;
}
.table {
    margin-bottom: 10px;
}
.thumbnails .table>thead>tr>th {
    padding: 0 10px !important;
    width: 25%;
}
#saveBet, .column-footer {
    display: none;
}
#tblConfirm tr {
    background: #ffffff;
}
.noDisplay {
    display: none;
    pointer-events:none;
    cursor: default;
}
.NL {
    display: none;
    pointer-events:none;
    cursor: default;
}
/*.checkbox-inline, .radio-inline {*/
    /*cursor: default !important;*/
/*}*/
#saveBet .form-body {
    max-height: 265px;
    height: 265px;
    overflow-y: scroll;
}

.navbar-nav>li>a {
    padding-top: 27px;
    padding-bottom: 27px;
}
.navbar {
    min-height: 75px !important;
    margin-bottom: 50px;
}

#divSched tbody tr td,
#divSched table tr th{
    width: 25%;
}
table#tblSColumn {
    margin-bottom: 0px;
}